body {
  background-color: black;
}

.title {
  font-size: 10px;
  color: #00ff08;

}

.topLine {
  display: flex;
  justify-content: center;
  border: 2px solid green;
  border-bottom-style: dotted;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}

.creditLine {
  line-height: 2;
  display: flex;
  justify-content: center;
  border: 2px solid green;
  border-bottom-style: dotted;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  font-size: 18px;
  color: #00ff08;
}

.Paragraph {
  line-height: 1.6;
  display: flex;
  justify-content: center;
  border: 2px solid green;
  border-bottom-style: dotted;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  font-size: 19.2px;
  color: #00ff08;
}

.clickLine {
  display: flex;
  justify-content: center;
  border: 2px solid green;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  overflow: hide;
}

.clickMe {
  font-size: 12px;
  color: #00ff08;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 5px;
  }

  .clickMe {
    font-size: 7px;
  }


  .creditLine {
    font-size: 15px;
  }

  .Paragraph {
    font-size: 16.2px;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 3px;
  }

  .clickMe {
    font-size: 5px;
  }

  .creditLine {
    font-size: 10px;
  }

  .Paragraph {
    font-size: 11.2px;
  }
}
